body {
    background-image: url('https://lh3.googleusercontent.com/proxy/89c30xF5GVyS4piDudrtvt-VhAhx4OB249sv7ijw59zyuNTAfVl4ZAFUkv_UYjLNF5_vYcg0Nyzx28u4ui892n8ehw3utkre7gw48MuSvvQ4cBYr431j96TdQwsRkXYbuN1PVzX8ol-IPK0AVkKj');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFF02D;
    margin-right: 2%;
}

