header {
    text-align: center;
    color: white;
    height: 333px;
    width: 1024px;
    background-image: url('https://pm1.narvii.com/6527/d59eafc42009fb13451c8dfc850f238c9dad5dbe_hq.jpg'); 
    margin-left: 15.5%;
}

footer {
    img{
        height: 200px;
    }
}
