header {
    position: absolute;
    background-repeat: no-repeat;
    top: 0%;
    left: 0%;
    color: white;
    height: 200px;
    width: 100%;
    background-image: url('https://pm1.narvii.com/6527/d59eafc42009fb13451c8dfc850f238c9dad5dbe_hq.jpg'); 
    // padding-right: 20px;
}

Nav {
    color: #CC2229;
}

footer {
    img{
        height: 200px;
    }
}


@media only screen and (min-width:1024px) {
    header {
        height: 100%;
        width: 100%;
    }
}